{% extends 'base.html' %}
{% block content %}
<style>

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2; 
}

</style>

{% if post_list %}

<table class="table" style="border: 1px solid black;">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
            <th scope="col">Owner</th>
        </tr>
    </thead>
    <tbody>
        {% for post in post_list %}
        <tr>
            <th scope="row">{{ post.id }}</th>
            <td>{{ post.title }}</td>
            <td>{{ post.content }}</td>
            <td><a href="{% url 'userDetails' pk=post.id %}">{{ post.owner.username }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Bu sayfayı görüntülemek için giriş yapmalısınız.</p>
{% endif %}
{% endblock %}